body {
    margin: 0%;
    padding: 0%;
}

p {
    color: rgb(80, 77, 77);
}

nav > img {
    float: left;
    height: 40px;
    width: 110px;
    margin: 10px 0px 0px 60px;
}

header {
    background-color: rgba(174, 207, 229, 0.6);
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    height: 700px;
}

.navbar {
    color: rgb(255, 251, 251);
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    padding: 5px;
    color: rgb(8, 8, 8);
    text-decoration: none;
    margin: 10px;
    transition: all ease 0.4s;
}

a:hover {
    background-color: rgb(207, 155, 42);
    border-radius: 10px;
}

a:active {
    scale: 0.8;
}

ul > button {
    background-color: rgb(83, 83, 200);
    width: 100px;
    border-radius: 10px;
    color: white;
    padding: 7px;
}

.head {
    padding: 100px;
    text-align: center;
}

.head > div {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

div > img {
    max-width: 80%;
    height: auto;
}

.head > div > button {
    border-radius: 10px;
    width: 100px;
    padding: 7px;
    color: rgb(243, 242, 247);
    background-color: rgb(83, 83, 200);
    margin: 10px;
}

.head > div > button:hover {
    background-color: rgb(255, 119, 0);
}

h1:nth-child(1) {
    color: rgb(83, 83, 200);
}

@media screen and (max-width: 768px) {
    .head > div {
        width: 100%;
    }

    .div1 > div,
    .sec1 > div {
        width: 100%;
        max-width: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated {
    animation: fadeInUp 2s ease-in-out;
}

.mid {
    text-align: center;
    padding: 50px;
    background-color: white;
}

.mid div {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: rgba(211, 211, 211, 0.76);
    text-align: center;
    padding-top: 35px;
}

.mid > img {
    width: 250px;
    height: 190px;
    margin: 4px;
    border: solid;
    border-width: 4px;
}

.sec1{
        padding: 80px;
        text-align: center;
    }
    .sec1>div{
        display: inline-block;
        vertical-align: middle;
    }
    .sec1>div>img{
        width:900px;
        height:600px;
        border: double black 5px;
      float: right;
    }
    .sec1>div>p{
        width: 400px;
        margin: auto;
        text-align: center;
        text-align: justify;
        margin-bottom: 50px;
    }
    .sec1>div>h1{
        font-size: xxx-large;
        width: 350px;
        margin: auto;
        margin-bottom: 30px;
        text-align: left;
    }
.sec1>div>a{
padding: 10px 20px;
color: white;
background-color:cadetblue;
text-decoration: none;
border-radius: 15px; 
margin: auto;
margin-right: 50px;
}


#contact {
    background-color: #333;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

#contact p {
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #283e74;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

button:hover {
    background-color: #ff6100;
}

button:active {
    transform: scale(0.8);
}

#contact p {
    color: white;
}

footer {
    background-color: #333;
    text-align: center;
    padding: 15px 0; 
}

footer>div {
    display: inline-block;
    vertical-align: top;
    margin: 90px;
    width: 150px;
}

@media (max-width: 768px) {
    footer>div {
        width: 100%;
        margin: 10px 0; 
    }
}

footer p{
    color: #fff;
}
#same{
    font-size: xx-large;
    color: #ff6100;
}
hr{
   border: #ff6100 solid;  
}